/* Task 1  -------------------*/

/* .buttons{
    width: 100px;
    height: 40px;
    margin-right: 15px;
}

.button-shadow {
    box-shadow: 4px;
} */
/* --------------------------- */
#container{
    width: 100%;
    height: 880px;
}

.section-create{
    display: none;
}

.section-open{
    display: block;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.flex-container{
    width: 400px;
    height: 510px;
    border: none;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: 4px 4px 4px gray;
}

.title-item{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: cadetblue;
}

.title-card{
    color:darkblue;
}

.item,
.item-category{
    margin-top: 15px;
    padding-left: 5px;
    height: 50px;
}

.item-category select{
    width: 200px;
    height: 25px;
    border-radius: 15px;
}

.title{
    font-size: 16px;
    font-weight: 500;
}
input{
    height: 18px;
    width: 65%;
    border: 1px solid gray;
    border-radius: 5px;
}

.create-btn{
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 33px;
    color:antiquewhite;
    font-size: 14px;
    background-color: blueviolet;
}

.item-btn{
    display: flex;
    justify-content: space-around;
}

.hide{
    display: none;
}
.close-btn{
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 33px;
    color:antiquewhite;
    font-size: 14px;
    background-color:brown;
}