#container{
    width: 100%;
    height: 880px;
}

.section-create{
    display: none;
}

.section-open{
    display: block;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.flex-container{
    width: 400px;
    height: 510px;
    border: none;
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 4px 4px 4px gray;
}

.title-item{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: burlywood;
}

input:valid{
    border-color: greenyellow;
}

input:invalid:not(:placeholder-shown){
    border-color: brown;
}

.title-card{
    color:lightyellow;
}
.flex-form{
    margin-top: 30px;
    margin-left: 20px
}
.item,
.item-category{
    margin-top: 15px;
    padding-left: 5px;
    height: 45px;
    flex-direction: column;
    display: flex;
}

.item-category select{
    width: 90%;
    height: 25px;
    border-radius: 15px;
}

.title{
    font-size: 16px;
    font-weight: 500;
}
input{
    height: 18px;
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
}

.create-btn{
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 33px;
    color:antiquewhite;
    font-size: 14px;
    background-color:darkkhaki;
}

.item-btn{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.hide{
    display: none;
}
.close-btn{
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 33px;
    color:antiquewhite;
    font-size: 14px;
    background-color:coral;
}

.error-message{
    margin-top: 2px;
    color: brown;
    line-height: 12px;
    display: block;
}